matplotlib_venn
sentence-transformers
faiss-cpu
pandas
numpy
torch
seaborn
matplotlib
langchain_text_splitters
google-generativeai
python-dotenv
requests
trafilatura
beautifulsoup4
lxml
pymupdf
opencc-python-reimplemented
py_vncorenlp
streamlit